/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;

  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: $raleway;

  background-color: $c1;
  color: $c10;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: Min(120rem, 95vw);
  margin: 0 auto;
}
