/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;

  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: $raleway;

  background-color: $c1;
  color: $c10;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;

  object-fit: cover;
  object-position: center;
}

.container {
  width: Min(120rem, 85vw);
  max-width: 100%;
  margin: 0 auto;
}

.section {
  padding: 7.8rem;
}

.btn {
  padding: 1.6rem 3.2rem;
  border-radius: 1rem;

  text-transform: uppercase;
  font-weight: bold;
  color: $c10;

  text-align: center;

  background-color: $vermelho-5;

  transition: all 0.4s;

  &:hover {
    background-color: white;
    border-color: transparent;
    color: $vermelho-5;
  }
}

.btn.outlined {
  border: 0.2rem solid $vermelho-5;

  background-color: transparent;

  color: $vermelho-5;

  transition: background 0.4s;

  &:hover {
    background-color: white;
    border-color: transparent;
    color: $vermelho-5;
  }
}

.mark strong {
  font-family: $poppins;
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: uppercase;
  line-height: 145%;
  color: $vermelho-5;
  margin-left: 3.7rem;

  position: relative;

  &::before {
    content: '';
    width: 3rem;
    height: 0.2rem;

    background-color: $vermelho-5;

    position: absolute;
    top: 1rem;
    left: -3.7rem;
  }
}

@media screen and (max-width: 76.8rem) {
  .mark strong {
    max-width: 100%;
    font-size: 1.4rem;

    &::before {
      top: 0.8rem;
    }
  }
}

.title {
  font-size: 14.4rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4.2ch;

  color: $c2;
}

body > .container {
  position: relative;
}

.socials {
  position: fixed;
  left: 1rem;
  top: 50%;

  z-index: 3;

  div {
    padding: 0.8rem 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    color: $c1;

    background-color: $c2;

    transition: 0.4s;

    &:hover {
      background-color: $vermelho-5;

      --vermelho-5: #fafafa;
    }
  }
}

@media screen and (max-width: 968px) {
  .socials {
    margin-top: 3.2rem;
    position: static;

    display: flex;
    justify-content: space-between;
    gap: 2rem;

    div {
      width: 100%;
    }
  }
}
