:root {
  /* Tipografias */
  --raleway: 'Raleway', sans-serif;
  --poppins: 'Poppins', sans-serif;

  /* Cores */
  --vermelho-1: #a50f0f;
  --vermelho-2: #bb291f;
  --vermelho-3: #e02a1f;
  --vermelho-4: #e73e33;
  --vermelho-5: #f8614a;
  --vermelho-6: #fe6767;

  --c1: #121212;
  --c2: #262626;
  --c3: #4d4d4d;
  --c4: #666666;
  --c5: #808080;
  --c6: #999999;
  --c7: #b2b2b2;
  --c8: #cccccc;
  --c9: #e6e6e6;
  --c10: #fafafa;
}
